flask/
*.pyc
dev
venv/
node_modules
app/database.db
app/build
yarn.lock
yarn-error.log
*.psd
env/
env__/
.vscode/symbols.json
app/db.sqlite3
.env

app/static/assets/node_modules
app/static/assets/yarn.lock
app/static/assets/.temp
.env/
.venv/
app/.env
app/database.sqlite3
app/output.mp3
uploads/recorded_video.webm
app/file.jpg
app/drawing.jpg
app/static/generated_image.png3
app/firebase-cognipath.json
/credentials.json
/my-output.png
/output.mp3
app/client_secret.json
app/credentials.json
app/my-output.png
app/static/generated_image.png
app/static/storyImage1.png
app/static/storyImage2.png
text_to_speech.py
imagen_3.py
uploads/*