<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CogniPath Authentication</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='auth/css/style_login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='front/css/alert.css') }}">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='back/img/cognipath_logo.svg') }}">
  <style>
    .input-field {
        /* Add your desired styling here */
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/1.9.27/libphonenumber-js.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='front/css/style_google.css') }}">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form id="forgetpassword" method="POST" action="">
                <h1 style="color: #0db8f6;">Forget Password</h1>
                <input type="email" placeholder="Email" id="email" name="email" required>
                <button type="submit">Send</button>
            </form>
            
        </div>   
        <div class="overlay-container">
            <div class="overlay">
                <!-- <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div> -->
                <div class="overlay-panel overlay-right">
                    <img src="{{ url_for('static', filename='front/img/hi.png') }}" height="50%">
                    <h1>Hello, Friend!</h1>
                    <p>Welcome to CogniPath, Your interactive learning plateform</p>
                    <a href="/auth" target="_parent"><button class="ghost"  >Sign IN</button></a>

                    <!-- <button class="ghost"  >Sign IN</button> -->
                    
                </div>
            </div>    
       
    </div>
    {% if success %}
    <div class="toast" style="border-left: 8px solid #0e8223;">
        <div class="toast-content">
            <i class="uil uil-check toast-check" style="background-color: #0e8223;"></i>
            <div class="message">
                <span class="message-text text-1">Success</span>
                <span class="message-text text-2">{{msg}}</span>
            </div>
        </div>
        <i class="uil uil-multiply toast-close" id="toastClose"></i>
        <div class="progress progress-custom"></div>
    </div>
    {% endif %}
    {% if not success and msg != None %}
    <div class="toast">
        <div class="toast-content">
            <i class="uil uil-times toast-check"></i>
            <div class="message">
                <span class="message-text text-1">Error</span>
                <span class="message-text text-2">{{msg}}</span>
            </div>
        </div>
        <i class="uil uil-multiply toast-close" id="toastClose"></i>
        <div class="progress"></div>
    </div>
    {% endif %}

   
    <script>
        var toast = document.querySelector(".toast");
        var toastClose = document.getElementById("toastClose");
        var progress = document.querySelector(".progress");
    
        // Check if the toast is present and has the "active" class to avoid duplicate display
        if (toast && !toast.classList.contains("active")) {
            showFailureToast();
        }
    
        toastClose.addEventListener("click", () => {
            toast.classList.remove("active");
    
            setTimeout(() => {
                progress.classList.remove("active");
            }, 300);
        });
    
        function showFailureToast() {
            toast.classList.add("active");
            progress.classList.add("active");
            // toast.querySelector(".text-1").textContent = "Error";
            // toast.querySelector(".text-2").textContent = "Sign-in failed. Please try again.";
            // toast.querySelector(".toast-check").classList.remove("uil-check");
            // toast.querySelector(".toast-check").classList.add("uil-times");
    
            setTimeout(() => {
                toast.classList.remove("active");
            }, 5000);
    
            setTimeout(() => {
                progress.classList.remove("active");
            }, 5300);
        }
    </script>

</body>

</html>
